@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

h1 {
  font-size: 40px;
  width: 100%;
  top: 29px;

  background-color: #444;
  background-image: linear-gradient(
    51deg,
    #ffffff 10%,
    #51cfed 35%,
    #2742c5 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#capture {
  background-color: #fff;
}
/* #capture:after {
  content: ".";
  background: transparent; 
  display: block;
  color: transparent;
  position: absolute;
  border: 15px solid red;
} */

.artboard {
  float: left;
  position: relative;
  width: auto;
  height: 85vh;

  aspect-ratio: 1 / 1; /* default */
  transition: all 0.2s ease;
  -webkit-transition: all 0.21s ease;
  -moz-transition: all 0.21s ease;
  -ms-transition: all 0.21s ease;
  -o-transition: all 0.21s ease;
}

.controls.aspect_ratios {
  background: #fff;
  position: fixed;
  left: 15px;
  top: 10%;
  border-radius: 15px;
}

.aspect_ratios a {
  text-decoration: none;
  width: 50px;
  height: 20px;
  padding: 2px 4px;
  border: 1px solid #e5e5e5;
  margin: 5px;
}

.aspect_ratios a:hover {
  background-color: #f7f7f7;
}

.artboard > div.colors div {
  /* width: 605px; */
  width: 805px;
  height: 640px;
  position: absolute;
  border-radius: 9999px;
  mix-blend-mode: difference;
}

.pink {
  top: -179px;
  left: 623px;
  height: 752px !important;
  width: 557px;
  background: #d503ac6e;
}

.red {
  background-color: #00b2ff8c;
  top: 6%;
  left: -30%;
  height: 622px;
  width: 557px;
}

.blue {
  background-color: #6900ffad;
  top: 288px;
  left: -87px;
  width: 867px;
  height: 1082px;
  transform: rotate3d(19, 14, 0, 48deg);
}

.green {
  background-color: #ffc3005e;
  top: 215px;
  right: 207px;
  position: absolute;
  top: 140px;
  right: -80px;
}

.overflow {
  overflow: hidden;
  display: inline-block;
}

.blur {
  filter: contrast(141) blur(63px) hue-rotate(334deg);
  -webkit-filter: contrast(141) blur(63px) hue-rotate(334deg);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f6;
}

.control_group {
  background: #fff;
  position: fixed;
  right: 15px;
  top: 10%;
  border-radius: 15px;
  z-index: 1;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 25px;
}

.convert {
  display: inline-block;
  padding: 40px;
  top: -42vh;
  position: relative;
  font-size: xx-large;
}

button {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15px;
  right: 20px;
  border: 0;
  background: none;
  cursor: pointer;
}

button img {
  height: 28px;
  margin-bottom: 5px;
}

/* animation */

.animate {
  -webkit-animation: animate 5s infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-filter: contrast(10) blur(100px) hue-rotate(0deg);
  }
  50% {
    -webkit-filter: contrast(10) blur(100px) hue-rotate(180deg);
  }
}

/* .colors {
  position: absolute;
  top: -102px;
  left: -333px;
} */
