@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  font-size: 40px;
  width: 100%;
  top: 29px;

  background-color: #444;
  background-image: linear-gradient(
    51deg,
    #ffffff 10%,
    #51cfed 35%,
    #2742c5 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#capture {
  background-color: #fff;
}

.artboard {
  float: left;
  position: relative;
  width: auto;
  height: 85vh;
  aspect-ratio: 1 / 1;
  /*default*/
  transition: all 0.1s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.dark .aspect_ratios a {
  color: #e5e5e5;
}

.aspect_ratios a {
  text-decoration: none;
  min-width: 50px;
  padding: 2px;
  border: 1px solid #e5e5e5;
  margin: 5px;
  color: #444;
  font-size: 13px;
}

.aspect_ratios a:hover {
  background-color: #f7f7f7;
}

.dark .aspect_ratios a:hover {
  background-color: #444;
}

.artboard > div.colors div {
  /* width: 605px; */
  width: 805px;
  height: 640px;
  position: absolute;
  border-radius: 9999px;
}

.artboard > div.colors div {
  mix-blend-mode: difference;
  /* mix-blend-mode: lighten; */
}

.yellow {
  top: -180px;
  left: -350px;
  height: 752px !important;
  width: 557px;
  background-color: #ffbb31;
}

.red {
  background-color: #00b2ff8c;
  background-color: red;
  top: 6%;
  left: -30%;
  height: 622px;
  width: 557px;
}

.blue {
  background-color: #6900ffad;
  background-color: blue;
  top: 288px;
  left: -87px;
  width: 867px;
  height: 1082px;
  transform: rotate3d(19, 14, 0, 48deg);
}

.green {
  background-color: #ffc3005e;
  background-color: green;
  top: 215px;
  right: 207px;
  position: absolute;
  top: 140px;
  right: -80px;
}

.overflow {
  overflow: hidden;
}

.blur {
  filter: contrast(141) blur(63px) hue-rotate(334deg);
  -webkit-filter: contrast(141) blur(63px) hue-rotate(334deg);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f6;
}

.control_group {
  color: #2e2d2d;
  background: #fff;
  height: -webkit-fill-available;
  z-index: 1;
}

.dark .container {
  color: #fff;
  background: #363636;
}

.dark .control_group,
.dark .tools_section {
  background: #2e2d2d;
  color: #fff;
}

.shadow {
 box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 25px;
  border: 1px solid #70707026;
  margin: 15px 30px;
  border-radius: 13px;
}

input.slider {
  align-items: center;
  overflow: hidden;
  width: 80%;
  cursor: pointer;
}

.convert {
  display: inline-block;
  padding: 40px;
  top: -42vh;
  position: relative;
  font-size: xx-large;
}

#download-image {
  cursor: pointer;
  background-color: #fff;
}

#download-image img {
  height: 28px;
  margin-bottom: 5px;
}

.frame {
  /*border: 0.125rem;
  border-color: #d9d9d9;
  border-style: dashed;
  border: 10px solid #fff;
  */
}

.artboard {
  /* height: 1000px; */
}

/* animation */

.animate {
  -webkit-animation: animate 5s infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-filter: contrast(10) blur(100px) hue-rotate(0deg);
  }
  50% {
    -webkit-filter: contrast(10) blur(100px) hue-rotate(180deg);
  }
}

.hd {
  transform: scale(calc(100% / 2));
  position: absolute;
  -webkit-transform: scale(calc(100% / 2));
  -moz-transform: scale(calc(100% / 2));
  -ms-transform: scale(calc(100% / 2));
  -o-transform: scale(calc(100% / 2));
}

.colors {
  position: absolute;
  top: 137px;
  left: 592px;
}

/* TABS */
.tools_section {
  height: -webkit-fill-available;
  z-index: 1;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  outline: 1px solid #f1f1f1;
}

.dark .tab,
.tab button {
  color: #fff;
  background-color: #282828;
  outline: none;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: #282828;
  flex: auto;
  border: none;
  outline: 1px solid rgb(151 151 151 / 20%);
  cursor: pointer;
  padding: 5px 15px;
  transition: 0.2s;
  font-size: 17px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f9f9f9;
}
.dark .tab button:hover {
  color: #fff;
  background-color: #4e4e4e;
}

.dark .tab button {
  color: #f9f9f9;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffff;
}

.dark .tab button.active {
  color: #f9f9f9;
  background-color: #3a3939;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  height: -webkit-fill-available;
}

#theme-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  border: none;
  border-radius: 50px;

  background: #b5b5b5;
  filter: invert(1);

  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#theme-toggle {
  cursor: pointer;
  background-image: url(https://img.icons8.com/ios-glyphs/30/000000/do-not-disturb-2.png);
}

.dark #theme-toggle {
  background-color: #0030ff;
  background-image: url(https://img.icons8.com/material-outlined/24/000000/sun--v1.png);
}
.dark .light-icon {
  display: block;
}

.dark-icon {
  display: block;
}

img.light-icon {
  display: block;
}

.layout.grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.hidden {
  display: none;
}

.credit {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: small;
  color: #686868;
  filter: invert(1);
  -webkit-filter: invert(1);
}

a {
  color: #686868;
  text-decoration: none;
}
